section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  scroll-snap-align: start;
}

.container {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}
