/* You can add global styles to this file, and also import other style files */
* {
  margin: 0px;
  padding: 0px;
  scrollbar-width: none;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  scroll-snap-align: start;
}

.container {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}
